<!-- Transactions List Page -->
<div class="row mtd">
    <!-- <div class="row">
            <div class="col-md-3">
                <button class="btn btn-green" role="button" ng-click="getAllBlocks()">Get Blocks from Chain</button>
            </div>
            <div class="col-md-3">
                <button class="btn btn-green" role="button" ng-click="getAllBlocksFromFile()">Get Blocks from
                    File</button>
            </div>
        </div> -->

    <div class="row">
        <form>
            Transaction Hash: <input type="text" id="tnum" style="width:700px;">

            <a class="btn btn-grad" ng-click="click()" id="alink">Search <i class="fa fa-search"
                    aria-hidden="true"></i></a>
        </form>
    </div>

</div>
